<form action="/course/add" method="post">
<p>
<label>Course Name</label><input value="" name="courseName" /><br>
<label>Course Duretion</label><input value="" name="courseDuretion" /><br>
<label>Course Fee</label><input value="" name="courseFee" /><br><br>
<button type="submit">Add Course</button>
</p>
</form>
